.image-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.hastag {
    color: #A77CE4;
    font-weight: 400;
}

i {
    color: black;
    font-size: 30px;
}

p {
    color: black;
}

@media only screen and (max-width: 600px) {
    p {
       font-size:medium; 
    }

    i {
        font-size:larger;
    }
  }

  .search {
    font-family:Arial, FontAwesome;
}

  