<h4 style="text-align: left" class="pl-5 pt-4 pb-4"> Lista Eventi</h4>
<div class="container-fluid pl-5 pr-5">
    <table class="table">
        <thead style="background-color: #3d3d3d; color: white;">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titolo</th>
            <th scope="col">Luogo</th>
            <th scope="col">Data</th>
            <th scope="col">Ora</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>

        <tbody *ngFor="let event of events, let i = index">
        <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.data | date:"dd/MM/yy"}}</td>
            <td>{{event.time}}</td>
            <td><i class="fa fa-trash fa-1x" aria-hidden="true"> - <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#exampleModalCenter" (click)="updateEvent(i)"></i></i></td>
        </tr>
        </tbody>
    </table>

    <div class="text-right p-1 pb-2">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter" (click)="addEvent()">Aggiungi evento <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Gestisci eventi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-add-event [type]=type [event]=event></app-add-event>
        </div>
        </div>
    </div>
    </div>
</div>
